.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-div {
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  width: 40vw;
  border-radius: 10px;
  height: 5vh;
}
input {
  outline: none;
  border: none;
}
.search-logo {
  height: 25px;
  margin-left: 10px;
  margin-top: 3px;
}
ul {
  display: flex;
  padding: 10px;
}
.app-cont {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
